.Quote {
  font-size: 1.5rem;
  max-width: 100%;
  grid-area: text;
  text-align: center;
  animation: quoteAuthor 1s ease-in;
}
.Quote::before {
  content: '" ';
  font-family: "Arimo", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}
.Author {
  grid-area: author;
  justify-self: end;
  text-align: center;
  margin-bottom: 2rem;
  animation: quoteAuthor 1s ease-in;
}

@keyframes quoteAuthor {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
