.Error {
  width: 100%;
  max-height: 100%;
  padding: 5px;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: auto;
  grid-template-areas:
    "header"
    "message";
  background-color: rgb(255, 255, 255);
}

.Header {
  max-width: 100%;
  color: black;
  grid-area: header;
  text-align: center;
  animation: quoteAuthor 1.5s linear;
}
.Message {
  max-width: 100%;
  color: black;
  grid-area: message;
  text-align: center;
  animation: quoteAuthor 1.5s ease-in;
}
@keyframes quoteAuthor {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* tablet */
@media (min-width: 480px) {
  .Error {
    width: 80%;
    max-height: 100%;
  }
}
/* laptop/desktop */
@media (min-width: 768px) {
  .Error {
    width: 50%;
    max-height: 100%;
  }
}
/* wider screens */
@media (min-width: 1280px) {
  .Error {
    width: 40%;
    max-height: 100%;
  }
}
