@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5rem;
  color: #fff;
}

body {
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.Root {
  background-color: red;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: root 1s linear;
}
.Quote_box {
  width: 100%;
  max-height: 100%;
  padding: 5px;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(2, auto);
  grid-template-areas:
    "text text"
    ". author"
    "icon newQuote";
  background-color: rgb(23, 53, 151);
}
.Loading {
  font-family: "Arimo", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  grid-area: text;
  text-align: center;
  animation: onLoad 1s ease-in-out 0.5s infinite alternate;
}

@keyframes root {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes onLoad {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
