@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5rem;
  color: #ffffff;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.Root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 10px;
  animation: root 2s ease-in-out;
}
.Quote_box {
  width: 100%;
  max-height: 100%;
  padding: 5px;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(2, auto);
  grid-template-areas:
    "text text"
    ". author"
    "icon newQuote";
  background-color: rgb(255, 255, 255);
}
.Loading {
  font-family: "Arimo", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 4rem;
  font-weight: bold;
  grid-area: text;
  text-align: center;
  animation: onLoad 2s ease-in-out infinite alternate;
}

@keyframes root {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes onLoad {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* tablet */
@media (min-width: 480px) {
  .Quote_box {
    width: 80%;
    max-height: 100%;
  }
}
/* laptop/desktop */
@media (min-width: 768px) {
  .Quote_box {
    width: 50%;
    max-height: 100%;
  }
}
/* wider screens */
@media (min-width: 1280px) {
  .Quote_box {
    width: 40%;
    max-height: 100%;
  }
}
